* {
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  background: linear-gradient(to bottom right, #183d3d7e, #183d3d);
}
form {
  padding: 25px;
}
h1 {
  margin-top: 25px;
  text-align: center;
  color: #183d3d;
}
label {
  font-weight: bold;
  color: #183d3d;
  font-size: large;
}
button {
  width: 20%;
  height: 50px;
  position: absolute;
  left: 40%;
  
}
button:hover {
  text-decoration: underline;
}
.form-control {
  height: 100px;
}
